HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Build artifacts
/target/
!**/src/main/**/target/ # 소스 폴더 내의 target 폴더는 제외하지 않음 (예외)
!**/src/test/**/target/ # 테스트 폴더 내의 target 폴더는 제외하지 않음 (예외)

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Sensitive Configuration Files (MUST BE EXCLUDED)
# API 키, DB 접속 정보 등이 포함될 수 있는 파일들
application.yml
application-*.yml
application.properties
application-*.properties
secrets.properties

# OS files
.DS_Store

# Gradle and Maven Wrapper
!.gradle/
.gradle/
!/gradle/wrapper/
/bin/

# Logs
*.log
!/logs/.gitkeep